<footer>
  	<div id="contact">
				<p>Middlesex Community College</p>
				<p>Springs Road</p>
				<p>Bedford, MA 01730</p>
				<p>781 280 3200</p>
				<p>781 275 4910 College FAX</p>
			</div>

  <p class="developer">
      created by <span><a href="http://www.maxhallsett.com" target="_blank">maxandcoffee</a></span>
  </p>
</footer>
