<!-- <nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
<!--   <li class="name">
      <h1>
        <%= link_to 'Your Blog Name', root_path %>
      </h1>
    </li>
     Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone 
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li>
        <%= link_to 'Github', 'https://github.com/reInteractive' %>
      </li>

      <li class="divider hide-for-small"></li>
      <li>
        <%= link_to 'Twitter', 'https://twitter.com/lgarvey' %>
      </li>

      <li class="divider hide-for-small"></li>
      <li>
        <%= link_to 'About me', '/about' %>
      </li>
    </ul>
</section>-->
 <header>  
    <div class="menuWrapper">
        <ul>
            <div id="drop"><a href="#">MCCC</a></div>
            <ul id="dropNav">
                <li><a href="http://mccc-union.org/index.html" target="_blank">Hompage</a></li>
                <li><a href="http://mccc-union.org/daylinks.htm" target="_blank">Day Contract</a></li>
                <li><a href="http://mccc-union.org/dcelinks.htm" target="_blank">DCE Contract</a></li>
                <li><a href="http://mccc-union.info/up/" target="_blank">Unit Professionals</a></li>
            </ul>
            <div><a href="http://www.nea.org/" target="_blank">NEA</a></div>
            <div><a href="http://www.massteacher.org/" target="_blank">MTA</a></div>
        </ul>
    </div>
    <button id="button">Menu</button>
    <div class="h1"><a href="#" class="scrollToTop">MCC <br />Professional <br /> Association</a></div>

    <div id="boxNav">
        <a href="#" class="scrollToTop home">Home</a>
        <a href="#whoWeAre"><div class="boxOne">Who We Are</div></a>
        <a href="#whatWeDo"><div class="boxTwo">What We Do</div></a>
        <a href="#main"><div class="boxThree">Leadership</div></a>
    </div>

</header> 				
